

<div class='section' id='main_section'>
  <div class='tile is-ancestor notification has-background-black-ter'>
    <div class='tile is-parent is-vertical is-3'>
      <%= render 'form'%>
    </div>
    <div class='tile is-parent is-vertical is-6'>
      <%= render 'feed'%>
    </div>
    <div class='tile is-parent is-vertical is-3'>
      <%= render 'about_members'%>
    </div>
  </div>
</div>


