/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */
 @import 'bulma-helpers/css/bulma-helpers.min.css';
 @import 'bulma';
 .notification:not(:last-child) {
  margin-bottom: 0;
}
body {
  background-color: hsl(0, 0%, 14%);
  padding: 0px;
  margin: 0px;
}
#main_section {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
#brand {
  text-decoration: none;
}
#global-notification {
  margin-bottom: 0;
  border-radius: 0;
}
.notification:not(:last-child) {
  margin-bottom: 0;
}
// #follow {
//   border-width: 1rem !important;
// }